body{
    background-color: rgb(52, 52, 52);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.user-button{
    font-size:100px; 
    border: 3px solid white; 
    border-radius: 50%; 
    background-color: transparent; 
    padding: 20px;
    margin-right: 30px;
    transition-duration: 0.7s;
}

.user-button:hover {
    background-color: white;
}

.game-result{
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

.game-score{
    margin-top: 60px;
}

.reset-score{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    transition-duration: 0.7s;
    margin-top: 40px;
}

.reset-score:hover {
    background-color: white;
    color: black;
    border: 2px solid rgb(52, 52, 52);;
}